src/main/mule/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32e6643e-4a81-4371-ae13-a4dd16767204" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="dwLogic" doc:id="ac62afbc-a166-4aff-9bce-598bd6f24a79" >
		<http:listener doc:name="Listener" doc:id="4449d982-b1c7-45d7-a166-7ec1abe0d46f" config-ref="HTTP_Listener_config" path="/example/dwLogic"/>
		<logger level="INFO" doc:name="Input Payload" doc:id="876eeac9-8097-41ba-b1e4-8bcdee05a5e3" message='#["Input Payload" : payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="743a35c3-c24a-4bff-a7ff-10984e706e84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Output Payload" doc:id="2fc4b7cd-7277-4a3f-8115-617956a4bf68" message='#["Output Payload  ": payload]'/>
	</flow>
</mule>
